__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo

# Build artifacts
build/
dist/
.eggs/
*.egg-info/

# VCS
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite DB mounted as a volume
predictions.db
